<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.test.demo.xmlMapper.TablesMapper">

    <select id="selectTables" resultType="map">
        select tab_id,tab_name,tab_comments
        from sys_tables
    </select>
    <select id="selectTablesByName" parameterType="java.lang.String" resultType="map">
        select tab_id,tab_name,tab_comments
        from sys_tables
        where field_name = #{fieldName}
    </select>

</mapper>
